/*
 *  ABOUT PAGE
 */

@media (max-width:768px) {
    #about .skills div:first-child ul {
        margin: 2rem 0 0;
    }
    #about .skills div:last-child ul {
        margin: .4rem 0 1rem;
    }
}

@media (min-width:768px) {
    #about .skills div ul {
        margin: 2rem 0 1rem; 
    }
}