/*
 *  CONTACT PAGE
 */

#contact {
    .map {
        border:1px solid #d3d3d3;
        margin-top: 24px;
    }

    h5.map-footnote {
        color: rgba(175, 189, 33, 0.85);
        font-size: 1.8rem;
        margin: 0;
        text-align: center;
    }
}