
.btn {
    font-weight: bold;
}

.btn-default {
    color: rgba(175, 189, 33, 1.0);
    background-color: rgba(255, 255, 255, 0.85);
    border-color: rgba(255, 255, 255, 1);
}
.btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(175, 189, 33, 0.85);
    border-color: rgba(175, 189, 33, 1);
}
.btn-secondary {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(95, 96, 98, 1);
    border-color: rgba(80, 80, 80, 1);
}
    .btn-secondary:hover {
        color: rgba(255, 255, 255, 1.0);
        background-color: rgba(50, 50, 50, 1);
        border-color: rgba(0, 0, 0, 1);
    }