/*!
 * Matter
 *
 * @author Creative team
 * @version 0.1.23
 */

nav > .container:after {
    content: '';
    display: block;
    clear: both;
}
.nav > .container:before {
    content: '';
    display: block;
    clear: both;
}
.logo-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 150px;
    height: 194px;
    z-index: 2;
}
a.mobile-logo {
    display: block;
    margin-top: -31px;
    margin-left: -6px;
}
.nav {
    position: relative
}
.nav a {
    text-decoration: none
}
.nav li ~ li {
    margin-top: 0
}
.nav .nav-text {
    padding: 12px 15px
}
.nav .nav-text,
.nav .nav-text a {
    color: #FFF
}
.nav .nav-text a {
    margin: -27px
}
.nav .nav-logo {
    display: inline-block;
    padding: 18px 0
}
.nav .nav-logo img {
    max-height: 23px
}
.nav .nav-menu {
    float: left;
    font-family: Oswald, sans-serif;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0
}
.nav.nav-primary .nav-menu > li {
    display: inline-block;
    font-size: 2.25rem;
    vertical-align: middle
}
@media (min-width:768px) and (max-width:991px) {
    .nav.nav-primary .nav-menu > li {
        font-size: 2rem;
    }
}
.nav .nav-menu > li > a {
    display: block;
    padding: 12px 15px
}
.nav .nav-menu > li > a.btn {
    display: inline-block;
    padding: 2px 12px
}
.nav .nav-menu > li > a.btn:first-child {
    margin-left: 15px
}
.nav .nav-menu > li.dropdown:hover > .dropdown-menu {
    border-top: 1px solid transparent;
    display: block
}
.nav .nav-menu.nav-menu-right {
    float: right
}
@media (max-width: 767px) {
    .nav.nav-primary .nav-menu {
        display: none
    }
}
.nav.nav-primary {
    background: rgba(175, 189, 33, 0.85);
    top: 81px;
    z-index: 1;
}
.nav.nav-primary .nav-menu > li > a:not(.btn) {
    color: #FFF;
    padding: 18px 10px;
    text-transform: uppercase
}
@media (min-width:768px) and (max-width:991px) {
    .nav.nav-primary .nav-menu > li > a:not(.btn) {
        padding: 18px 11px;
    }
}
@media (min-width: 992px) {
    .nav.nav-primary .nav-menu > li > a:not(.btn) {
        padding: 13px 15px
    }
}
.nav.nav-primary .nav-menu > li.dropdown-open > a,
.nav.nav-primary .nav-menu > li:hover > a:not(.btn) {
    background: rgba(0, 0, 0, 0.1)
}
@media (min-width: 768px) {
    .nav.nav-primary .phone-show,
    .nav.nav-primary .nav-mobile-toggle {
        display: none;
    }
}
.nav.nav-primary .nav-mobile-toggle,
.nav.nav-primary .phone-show {
    color: #FFF;
    float: left;
    font-size: 3rem;
}
.nav.nav-primary .nav-mobile-toggle {
    margin: 14px 0;
}
.nav.nav-primary .phone-show {
    float: right;
    margin: 14px 0 12px;
}
.nav-mobile-active .nav-overlay {
    opacity: 1;
    visibility: visible
}
.nav-overlay {
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    position: fixed;
    top: 0;
    transition: all 300ms ease;
    width: 100%;
    z-index: 100
}
.nav.nav-mobile {
    background: rgba(175, 189, 33, 0.85);
    backface-visibility: hidden;
    display: block;
    height: 100%;
    left: -70%;
    overflow: scroll;
    padding: 30px 19.5px;
    position: absolute;
    top: 0px;
    width: 70%;
    z-index: 101
}
.nav.nav-mobile .nav-category {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    color: #FFF;
    margin: 30px 0 8px;
    padding: 0 0 8px
}
.nav.nav-mobile .nav-category:first-child {
    margin-top: 0
}
.nav.nav-mobile .nav-menu {
    float: none;
    font-size: 2.5rem;
    line-height: 1.5;
}
.nav.nav-mobile .nav-menu > li {
    display: block
}
.nav.nav-mobile .nav-menu > li > a {
    color: #FFF;
    display: block;
    padding: 3px 0
}
@media (max-width: 576px) {
    .phone-hide {
        display: none;
    }
}
