/************************************/
/*                                  */
/*  TABLET STYLES @ 720px - 1023px  */
/*                                  */
/************************************/


@media only screen and (min-width: 720px) {

.menu, .section, .footer, .sitenav, .sitelinks { width: 720px; }
.masthead_wrapper, .masthead, .banner_wrapper, .banner { height: 400px; }
.masthead_logo { top: -10px; margin-left: -92px; width: 184px; height: 238px; background-position: -240px -60px; }
.menu_wrapper, .menu { height: 59px; }
.menu_wrapper { top: 90px; width: 100%; }

.mobile_icon, .phone_icon { 
	top: 0px; 
	height: 59px; 
	background-position: 0px -121px; 
	}
.phone_icon { 
	background-position: -80px -121px; 
	}

.sitelinks {
	left: auto;
	right: 0px; 
	top: 59px;
	width: 265px;
	padding-top: 0px;
	}

.quote_toggle, .quote_header {
	font: normal normal 400 52px/52px Oswald, Arial, Helvetica, sans-serif;
	padding: 14px 18px 0px 16px;
	cursor: auto;
	}
/*
.quotebar_wrapper { background-color: rgba(175,189,33,0.85); }
.quotebar_wrapper, .quotebar { width: 300px; height: auto; }
.quotebar_wrapper { left: 50%; margin-left: 50px; bottom: auto; top: 240px; }
*/
.quotebar { background-color: rgba(175,189,33,0.85); margin-top: -160px; }
.quote_toggle, .quote_close { display: none; }
.quote_header, .quote { display: block; width: auto; }
.quote_intro {
	padding: 5px 18px 18px 18px;
	}

/* CONTENT */

.main, .sidebar {  }
.main { width: 380px; float: left; }
.sidebar { width: 300px; float: right; }

.home_wrapper { background-image: none; }

.record_title { margin-top: 17px; }
.record_subtitle {  }
.description {  }

/* PIC FOR RECORD */

.pic_box {
	width: 380px;
	margin: 20px 0px 12px 0px;
	}
.pic { }
.caption { }

/* FOOTER */

.content_wrapper { padding-bottom: 160px; } /* Padding matches footer height. This container JUST makes room for footer. */
.footer_wrapper, .footer { height: 140px; }
.footer_wrapper { margin-top: -140px; }

.footer_text { 
	text-align: left;
	padding-left: 10px; 
	padding-top: 16px;
	}
.company { }
.tagline { 
	font-size: 24px;
	line-height: 24px;
	display: inline; 
	}
.address {
	padding-top: 10px;
	}
.phone, .fax, .credits { display: inline; }

.fineprint { text-align: left; bottom: 18px; bottom: 17px; left: 10px; width: auto; }
.credits { display: inline; }
.footer_logos { left: auto; right: 10px; margin-left: 0px; bottom: 20px; }
	
}

/* HIDE ON TABLETS @ 720px - 1023px */

@media only screen and (min-width: 720px) AND (max-width: 959px) { .t_hide { display: none !important; visibility: hidden !important; } }
