/*
 *  Components | Accordions
 */

.transition,
p,
ul li i:before,
ul li i:after {
    transition: all 0.25s ease-in-out;
}

ul.accordion {
    list-style: none;
    margin: 0;
    padding: 0;

    p {
        font-size: 1.4rem;
        margin-top: 14px;
        margin-top: 14px;
        opacity: 1;
        overflow: hidden;
        position: relative;
        transform: translate( 0 , 0 );
        transform: translate(0, 0);
        z-index: 2;
    }

    li {
        border-top: 1px dotted #d3d3d3;
        margin: 0;
        padding: 0;
        padding: 12px 0;

        &:last-of-type {
            border-bottom: 1px dotted #d3d3d3;
        }

        i {
            margin-top: 11px;
            position: absolute;
            right: 0;
            transform: translate(-24px, 0);

            &:before,
            &:after {
                background-color: rgba(175, 189, 33, 1);
                content: "";
                height: 9px;
                position: absolute;
                width: 3px;
            }

            &:before {
                transform: translate(-2px, 0) rotate(45deg);
            }
            &:after {
                transform: translate(2px, 0) rotate(-45deg);
            }
        }

        input[type=checkbox] {
            cursor: pointer;
            height: 100%;
            opacity: 0;
            position: absolute;
            width: 100%;
            z-index: 1;

            &:checked {
                 ~ p {
                    margin-top: 0;
                    max-height: 0;
                    opacity: 0;
                    transform: translate(0, 10%);
                }

                ~ i {
                    &:before {
                        transform: translate(2px, 0) rotate(45deg);
                    }
                    
                    &:after {
                        transform: translate(-2px, 0) rotate(-45deg);
                    }
                }
            }
        }
    }
}

